node_modules/
build
.DS_Store
dist/
*.iml
.idea/
out/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.cdk.staging
cdk.out
packages/moonbeam-cdk/*.jsg
packages/moonbeam-cdk/!jest.config.js
packages/moonbeam-cdk/*.d.ts
./amplify
packages/moonbeam-models/lib/**/*
packages/moonbeam-commitlint/lib/**/*
packages/moonbeam-plaid-lambda/lib/**/*
packages/moonbeam-storage-lambda/lib/**/*
packages/moonbeam-referral-lambda/lib/**/*
packages/moonbeam-app/amplify/**/*
.yarn
.yarnrc
