node_modules/
build
.DS_Store
dist/
*.iml
.idea/
out/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.cdk.staging
cdk.out
./amplify
.yarn
.yarnrc
packages/moonbeam-models/lib/**/*
packages/moonbeam-commitlint/lib/**/*
packages/moonbeam-card-linking-lambda/lib/**/*
packages/moonbeam-military-verification-lambda/lib/**/*
packages/moonbeam-storage-lambda/lib/**/*
packages/moonbeam-transactional-offers-consumer-lambda/lib/**/*
packages/moonbeam-transactions-lambda/lib/**/*
packages/moonbeam-transactions-producer-lambda/lib/**/*
packages/getmoonbeam-cdk/*.jsg
packages/getmoonbeam-cdk/*.d.ts
packages/getmoonbeam-app/amplify/**/*
packages/getmoonbeam-app/src/aws-exports.js
