node_modules/
build
.DS_Store
dist/
*.iml
.idea/
out/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.cdk.staging
cdk.out
./amplify
.yarn
.yarnrc
*.d.ts
packages/**/*.d.ts
packages/**/dist/
packages/moonbeam-commitlint/lib
packages/moonbeam-app-review-lambda/lib
packages/moonbeam-app-upgrade-lambda/lib
packages/moonbeam-card-linking-lambda/lib
packages/moonbeam-faq-lambda/lib
packages/moonbeam-logging-lambda/lib
packages/moonbeam-military-verification-lambda/lib
packages/moonbeam-military-verification-notification-consumer-lambda/lib
packages/moonbeam-military-verification-notification-producer-lambda/lib
packages/moonbeam-military-verification-reporting-consumer-lambda/lib
packages/moonbeam-military-verification-reporting-producer-lambda/lib
packages/moonbeam-notification-reminder-consumer-lambda/lib
packages/moonbeam-notification-reminder-producer-lambda/lib
packages/moonbeam-notification-reminder-lambda/lib
packages/moonbeam-notifications-lambda/lib
packages/moonbeam-offers-lambda/lib
packages/moonbeam-utilities-lambda/lib
packages/moonbeam-physical-devices-lambda/lib
packages/moonbeam-referral-consumer-lambda/lib
packages/moonbeam-referral-lambda/lib
packages/moonbeam-referral-producer-lambda/lib
packages/moonbeam-storage-lambda/lib
packages/moonbeam-transactional-notifications-offers-consumer-lambda/lib
packages/moonbeam-transactional-offers-consumer-lambda/lib
packages/moonbeam-transactions-lambda/lib
packages/moonbeam-transactions-producer-lambda/lib
packages/moonbeam-updated-transactional-offers-consumer-lambda/lib
packages/moonbeam-updated-transactions-producer-lambda/lib
packages/moonbeam-user-auth-session-lambda/lib
packages/getmoonbeam-cdk/*.jsg
packages/getmoonbeam-cdk/*.d.ts
packages/getmoonbeam-app/amplify/**/*
packages/getmoonbeam-app/src/aws-exports.js
packages/getmoonbeam-app/credentials.json
packages/getmoonbeam-app/credentials/**/*
.nx/cache
